<html ng-app = "lendMeBookApp">
<head> <link rel="stylesheet" type-"text/css" href="style.css">
  <title>LendMeBook</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>LendMeBook</h1>
  <p>The website to get the books you need!</p>
</div>

<div ng-controller = "CategoryController">
      <h1><center> Categories </center></h1>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

      </head>
      <body>
      <ul>
        <h4> <button ng-click="EnglishBooks()">English</botton>  </h4>

          <li ng-repeat="book in books"><center>{{book.name}}</center></li>
        <h4><button type="button"><center>Science </center> </botton> </h4>
        <h4><button type="button"><center>Math </center> </button> </h4>
        <h4><button type="button"><center>Art </center> </button>  </h4>
          <h4><button type="button"><center>Computer Science </center> </button>  </h3>
        <h4><button type="button"><center>History </center> </button> </h4>

      </div>
      <script type="text/javascript" src="app.js"></script>


    </div>

</body>
</html>
