<html ng-app = "lendMeBookApp">
<head>
  <h1 align="center"> LendMeBook </h1>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

</head>
<body>

  <div ng-controller = "CategoryController">
  <h1><center> Categories </center></h1>

  <ul>
    <h3> <button ng-click="EnglishBooks()">English</botton>  </h3>
      
      <li ng-repeat="book in books">{{book.name}}</li>
    <h3><button type="button"> Science </botton></h3>
    <h3><button type="button"> Math </button> </h3>
    <h3><button type="button"> Art </button>  </h3>
      <h3><button type="button"> Computer Science </button>  </h3>
    <h3><button type="button"> History </button> </h3>

  </div>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>
