<!DOCTYPE>
<html>
<head>
  <base href="/">
  <h1 align="center"> LendMeBook </h1>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>


</head>
<body ng-app = "lendMeBookApp">

  <div ng-controller = "MainController as main">
  <h1><center> Categories </center></h1>

  <ul>

      <li ng-repeat="book in books">{{book.name}}
        <ul>
        <li ng-repeat='owner in book.owners'>{{owner.name}}
        </li>
      </ul>
      </li>
      <a href="/Category/Science">Science</a> </br>
      <a href="/Category/Math">Math</a> </br>
      <a href="/Category/English">English</a></br>
      <a href="/Category/ComputerScience">ComputerScience</a> </br>


  <div  ng-view></div>
  </div>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>
