body{
   background-color: #009999;
   background:-webkit-linear-gradient(#009999, #008080, #004d4d, #0d0d0d);
 }
 h1 {color: darkblue;text-align: center;}
 h2{color: darkblue;text-align: center;}
 button {color:darkbluE;
   text-align: center;}
 h4{color:green;text-align: center;}
  p1  {color:#cccccc; font-family:Verdana; font-size: 11x ;}
